.c-SaleList {
  font-size: 14px;
  table-layout: fixed;
}

.c-SaleList th {
  border-top: none;
}
.c-SaleList th .sort-icon {
  margin-left: 0.5em;
}

/* Elements */

.c-SaleList__row {
}
.c-SaleList__row td {
  vertical-align: middle;
}

/* Modifiers */
